<div class="container">
  <h1>Ask Page</h1>
  <form action="answer" data-turbo="false">
    <label for="question" class="form-label">Your question</label>
    <input type="text" id="question" name="answer" autocomplete="auto" class="form-control" >
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
